.search-bar {
    width:70%;
    height:50px;
    text-align: center;
}
.search-bar:focus {
    border: 1px solid #0093D7;
}

.bar-container {
    background-color: white;
    width:70%;
    height:200px;
    margin: 0 auto;
    border-radius: 10px;
}
.search-submit {
    height:56px;
    width:100px;
}